body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1064px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:751px;
  top:88px;
  width:94px;
  height:54px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:54px;
}
#u1 {
  position:absolute;
  left:2px;
  top:19px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:756px;
  top:98px;
  width:15px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u3 {
  position:absolute;
  left:756px;
  top:112px;
  width:15px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u4 {
  position:absolute;
  left:764px;
  top:104px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u5 {
  position:absolute;
  left:748px;
  top:104px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u6 {
  position:absolute;
  left:756px;
  top:126px;
  width:15px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u7 {
  position:absolute;
  left:764px;
  top:118px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u8 {
  position:absolute;
  left:748px;
  top:118px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u9 {
  position:absolute;
  left:777px;
  top:98px;
  width:15px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u10 {
  position:absolute;
  left:777px;
  top:112px;
  width:15px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u11 {
  position:absolute;
  left:786px;
  top:104px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u12 {
  position:absolute;
  left:770px;
  top:104px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u13 {
  position:absolute;
  left:777px;
  top:126px;
  width:15px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u14 {
  position:absolute;
  left:786px;
  top:118px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u15 {
  position:absolute;
  left:770px;
  top:118px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u16 {
  position:absolute;
  left:801px;
  top:98px;
  width:15px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u17 {
  position:absolute;
  left:801px;
  top:112px;
  width:15px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u18 {
  position:absolute;
  left:810px;
  top:104px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u19 {
  position:absolute;
  left:794px;
  top:104px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u20 {
  position:absolute;
  left:801px;
  top:126px;
  width:15px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u21 {
  position:absolute;
  left:810px;
  top:118px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u22 {
  position:absolute;
  left:794px;
  top:118px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u23 {
  position:absolute;
  left:825px;
  top:98px;
  width:15px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u24 {
  position:absolute;
  left:825px;
  top:112px;
  width:15px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u25 {
  position:absolute;
  left:834px;
  top:104px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u26 {
  position:absolute;
  left:818px;
  top:104px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u27 {
  position:absolute;
  left:825px;
  top:126px;
  width:15px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:2px;
}
#u28 {
  position:absolute;
  left:834px;
  top:118px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u29 {
  position:absolute;
  left:818px;
  top:118px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u30 {
  position:absolute;
  left:800px;
  top:200px;
  width:111px;
  height:78px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:78px;
  background-color:#D7D7D7;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u31 {
  position:absolute;
  left:969px;
  top:158px;
  width:94px;
  height:54px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:54px;
}
#u32 {
  position:absolute;
  left:2px;
  top:19px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:974px;
  top:167px;
  width:15px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u34 {
  position:absolute;
  left:974px;
  top:181px;
  width:15px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u35 {
  position:absolute;
  left:982px;
  top:173px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u36 {
  position:absolute;
  left:966px;
  top:173px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u37 {
  position:absolute;
  left:974px;
  top:196px;
  width:15px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u38 {
  position:absolute;
  left:982px;
  top:188px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u39 {
  position:absolute;
  left:966px;
  top:188px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u40 {
  position:absolute;
  left:995px;
  top:167px;
  width:15px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u41 {
  position:absolute;
  left:995px;
  top:181px;
  width:15px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u42 {
  position:absolute;
  left:1004px;
  top:173px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u43 {
  position:absolute;
  left:988px;
  top:173px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u44 {
  position:absolute;
  left:995px;
  top:196px;
  width:15px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u45 {
  position:absolute;
  left:1004px;
  top:188px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u46 {
  position:absolute;
  left:988px;
  top:188px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u47 {
  position:absolute;
  left:1019px;
  top:167px;
  width:15px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u48 {
  position:absolute;
  left:1019px;
  top:181px;
  width:15px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u49 {
  position:absolute;
  left:1028px;
  top:173px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u50 {
  position:absolute;
  left:1012px;
  top:173px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u51 {
  position:absolute;
  left:1019px;
  top:196px;
  width:15px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u52 {
  position:absolute;
  left:1028px;
  top:188px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u53 {
  position:absolute;
  left:1012px;
  top:188px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u54 {
  position:absolute;
  left:1043px;
  top:167px;
  width:15px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u55 {
  position:absolute;
  left:1043px;
  top:181px;
  width:15px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u56 {
  position:absolute;
  left:1052px;
  top:173px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u57 {
  position:absolute;
  left:1036px;
  top:173px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u58 {
  position:absolute;
  left:1043px;
  top:196px;
  width:15px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:4px;
  width:15px;
  height:3px;
}
#u59 {
  position:absolute;
  left:1052px;
  top:188px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u60 {
  position:absolute;
  left:1036px;
  top:188px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:3px;
}
#u61 {
  position:absolute;
  left:260px;
  top:60px;
  width:86px;
  height:71px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:71px;
}
#u62 {
  position:absolute;
  left:2px;
  top:28px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:265px;
  top:64px;
  width:76px;
  height:63px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:63px;
}
#u64 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:418px;
  top:64px;
  width:213px;
  height:127px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:127px;
}
#u66 {
  position:absolute;
  left:2px;
  top:56px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:418px;
  top:154px;
  width:213px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:196px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:213px;
  height:1px;
}
#u68 {
  position:absolute;
  left:470px;
  top:166px;
  width:49px;
  height:15px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:430px;
  top:166px;
  width:17px;
  height:16px;
}
#u71 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72 {
  position:absolute;
  left:450px;
  top:162px;
  width:10px;
  height:27px;
}
#u72_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u72_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u72_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u73 {
  position:absolute;
  left:510px;
  top:74px;
  width:111px;
  height:78px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:78px;
  background-color:#D7D7D7;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u74 {
  position:absolute;
  left:572px;
  top:162px;
  width:10px;
  height:27px;
}
#u74_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u74_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u74_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u75 {
  position:absolute;
  left:587px;
  top:162px;
  width:39px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:28px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u75_img.mouseDown {
  width:49px;
  height:38px;
}
#u75.mouseDown {
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:459px;
  top:182px;
  width:192px;
  height:110px;
  overflow:hidden;
  visibility:hidden;
}
#u77_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:110px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u77_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:101px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:101px;
}
#u79 {
  position:absolute;
  left:2px;
  top:42px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:10px;
  top:34px;
  width:99px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:13px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:10px;
  top:57px;
  width:97px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:13px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:10px;
  top:80px;
  width:125px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:13px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:421px;
  top:80px;
  width:86px;
  height:71px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:71px;
}
#u87 {
  position:absolute;
  left:2px;
  top:28px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:426px;
  top:84px;
  width:76px;
  height:63px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:63px;
}
#u89 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:370px;
  top:450px;
  width:200px;
  height:200px;
  overflow:hidden;
}
#u90_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u90_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91 {
  position:absolute;
  left:10px;
  top:40px;
  width:180px;
  height:100px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u92 {
  position:absolute;
  left:2px;
  top:42px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u90_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93 {
  position:absolute;
  left:10px;
  top:40px;
  width:180px;
  height:100px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u94 {
  position:absolute;
  left:2px;
  top:42px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
